<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="todoItem">
            <h2><span>Todo Item</span> {{todoItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Event Time</span></dt>
                <dd>
                    <span>{{todoItem.eventTime}}</span>
                </dd>
                <dt><span>Todo Title</span></dt>
                <dd>
                    <span>{{todoItem.todoTitle}}</span>
                </dd>
                <dt><span>Todo Desc</span></dt>
                <dd>
                    <span>{{todoItem.todoDesc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/todo-item', todoItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
